* {
    box-sizing: border-box;
}

@import 'reset.css';

.container {
    max-width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    background-color: #606060;
    min-height: 50px;
    padding: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    background-color: #808080;
    border-radius: 10px;
    padding: 5px;
}