:root {
  /* Shades of Grey to Highlight hierarchy. */
  --highest-hierarchy: rgb(53, 50, 50);
  --medium-hierarchy: rgb(122, 122, 122);
  --low-hierarchy: rgb(224, 222, 222);
}

article:hover {
  opacity: 0.7;
  cursor: pointer;
}

.articles:hover {
  background-color: rgb(256, 256, 256);
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #fff;
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.high {
  background-color: var(--highest-hierarchy);
}

.medium {
  background-color: var(--medium-hierarchy);
}

.low {
  background-color: var(--low-hierarchy);
}

.nav-container {
  /* background-color: grey; */
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
}

.nav-container a {
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  padding: 10px;
}

.items a {
  text-decoration: none;
  color: #fff;
}

.article2 a {
  text-decoration: none;
  color: grey;
}

.guide-links>li>a {
  text-decoration: none;
  color: #000;
}

.nav-container a:hover {
  background-color: rgb(85, 81, 81);
  border-radius: 5px;
}

.article1 {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 1px solid rgb(80, 79, 79);
  gap: 5px;
  margin-bottom: 5px;
}

.items p {
  font-size: 40px;
  font-weight: 900px;
  text-align: center;
}

.items a:hover {
  background-color: rgb(85, 81, 81);
}

.article2 {
  /* background-color: rgb(192, 192, 192); */
  margin-bottom: 5px;
  color: grey;
  display: grid;
  grid-template-columns: auto auto auto;
  font-size: 30px;
  min-height: 90vh;
  padding-left: 30px;
}

.article2 a:hover {
  background-color: #fff;
}

.article2 .articles {
  display: grid;
  align-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

.background-container {
  /* border: 3px solid green; */
  width: 100%;
  height: 700px;

  /* background-color: silver; */
  margin-bottom: 5px;
}

#img {
  /* border: 3px solid red; */
  position: absolute;
  right: 30px;
  height: 600px;
  border-radius: 10px;
  width: 700px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#img-container h1 {
  color: #fff;
}

.article-img {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-bottom: 5px;
}

.img-2 {
  /* position: absolute;
  right: 30px; */
  margin-left: 200px;
  height: 600px;
  border-radius: 10px;
  width: 700px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.posters {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #000;
  font-size: 24px;
  margin-bottom: 5px;
}

.persons {
  color: #000;
  padding: 50px;
  margin-bottom: 5px;
}

.person-of-week {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 0;
  width: 80%;
  margin: 0 auto;
  height: 50vh;
}

.small-img {
  height: 150px;
  border-radius: 10px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  transform: rotate(45deg);
}

.small-img:hover {
  transform: rotate(0deg);
  transition: transform 1s ease-in-out forwards;
  cursor: pointer;
}

.related-posts {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 80px;
  align-content: center;
  margin: 0 auto;
  padding: 10%;
}

.post-card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: fit-content;
  column-gap: 0;
}

.card-img {
  position: relative;
  left: 0;
  height: 50px;
  border-radius: 10px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  transform: rotate(45deg);
}

.guides {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: #000;
  padding: 5% 10%;
  margin-bottom: 5px;
}

.guide {
  color: black;
  padding: 30px;
}

.guide:hover {
  opacity: 70%;
  background-color: #fff;
}

.footer-container {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 2px;
}

.list-flex li {
  padding: 10px;
  list-style-type: none;
}

.list-flex li:hover {
  background-color: grey;
}